* {
    margin: 0;
}

/* BARRA PRINCIPAL (NAV) */

.navContainer {
    display: flex;
    align-content: center;

    width: 100%;

    position: fixed;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

    height: 130px;

    z-index: 3;
}

/* filter invert es para invertir el color del menu hamburguesa ya que es la unica manera que encontre de hacerlo
ya que boostrap ya tiene definido estilos  */
.navbar-toggler-icon {
    filter: invert(1)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.navbar-nav, .navbar-brand {
    gap: 20px;
    padding: 20px;
}

.navbar-brand {
    width: 180px;
}

.navbar .nav-link {
    color: white;
    transition: color 0.3s;

    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2px;
}

.navbar .nav-link:hover {
    color: #60b2ff;
}

.navbar .nav-link.active {
    color: #ffffff;
}

/*show un selector de bootstrap para que solo se muestre cuando se despliegue*/
.menuFondo.show {
    transition: 0.5;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 5px 0 0 0;
}



/* FOOTER */

.footerContainer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    height: auto;
    color: white;
    font-size: 20px;
    background-color: #000000; 
}

.footerInfo, .footerContacto {
    max-width: 300px;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 5px;
}

.parrafoFooter {
    padding: 50px;
    width: 50%;
}

.footerAbajo {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    background-color: #050505; 
    height: 40px;
    font-size: 18px;
}

.derechosTitulo {
    padding: 5px;
    letter-spacing: 1px;
    color: white;
}

.entrixFooter {
    color: #48A6A7;
    font-weight: 500;
}

img, video {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
    }

    .navbar .nav-link {
        font-size: 15px;
    }

    .navContainer {
        height: auto;
    }

    .navbar-brand {
        width: 30%;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        height: auto;
    }

    .footerInfo, .footerContacto {
        margin-bottom: 15px;
    }

    .footerContainer p {
        padding: 0;
        font-size: 15px;
    }

}

@media screen and (max-width: 576px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
    }

    .navbar-brand {
        width: 150px;
        margin: 0;
    }

    .navbar-toggler {
        margin: 0;
        padding: 8px;
    }
}
